<div class="unHeader" id="tabAppContainer">
    <div class="tabs-container">
        <div class="tabs" style="justify-content: space-between">
            <a role="button" style="text-align: center;" tabindex="0" class="active tabMenuAppointments" data-action="click->tab-menu#openTab" data-tab-name="tab1" data-tab-menu-target="tablink">Pendientes</a>
            <a role="button" style="text-align: center;" tabindex="0" class="tabMenuAppointments" id="tabDos" data-action="click->tab-menu#openTab" data-tab-name="tab2"  data-tab-menu-target="tablink">Aprobadas</a>
            <a role="button" style="text-align: center;" tabindex="0" class="tabMenuAppointments" id="tabTres" data-action="click->tab-menu#openTab" data-tab-name="tab3"  data-tab-menu-target="tablink">Finalizadas</a>
        </div> 
    </div>
</div>