// Define variables for your color scheme

// For example:
$red: #5b005c;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #c1e6ba;
$gray: #0E0000;
$light-gray: #ffffff;
$palo-rosa: #ea899a;
$rosa-pastel: #ff7987;
$rose-flash: #fee4e6;
