<div class="unHeader">
    <div class="tabs-container">
    <div class="tabs">
        <a role="button" tabindex="0" class="active" data-action="click->tab-menu#openTab" data-tab-name="tab1" data-tab-menu-target="tablink">Ubicación</a>
        <a role="button" tabindex="0" id="tabDos" data-action="click->tab-menu#openTab" data-tab-name="tab2"  data-tab-menu-target="tablink">Imágenes</a>
        <a role="button" tabindex="0" id="tabTres" data-action="click->tab-menu#openTab" data-tab-name="tab3"  data-tab-menu-target="tablink">Área profesional</a>
        <a role="button" tabindex="0" id="tabCuatro" data-action="click->tab-menu#openTab" data-tab-name="tab4"  data-tab-menu-target="tablink">Comentarios del servicio</a>
    </div> 
    </div>
</div>