<div class="container" style="display:flex; align-items: center; justify-content: center; height: 100%">
  <div style="width: 80%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); padding: 30px; border-radius: 10px ">
    <h1 class="text-center" style="margin-bottom: 30px">¿Olvidaste tu contraseña?</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: "Ingresa tu correo electrónico"  %>
      </div>
      <div class="text-center">
          <div class="buton-area text-center">
            <%= f.button :submit, "Enviar instrucciones",class: "btn", style: "color: white; margin-top: 30px" %>
          </div>
      </div>
    <% end %>
  </div>
</div>