<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/nutrialic.ig/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Nutrialic"><i class="fab fa-facebook"></i></a>
            <p class="notice"><%= notice %></p>
  </div>

  <div class="footer-copyright">
    En Nutrialic <i class="fas fa-heart"></i> comer bien
  </div>
</div>
