<div style="width: 90%; text-align: center; background-color: #ecc4cc">
  <%= image_tag('logo.png', alt: 'Logo de mi empresa', style: "width: 150px; padding: 20px") %>
</div>
<div style="width: 90%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <h1 style="padding: 20px">Hola <%= @user_name %> nos gustaria que no dejaras tus comentarios de la cita con: <%= @professional_name %></h1>
  <h2>Por favor inicia sesion en el siguiente enlace para que puedas dejar tu comentario</h2>
  <%if @review_link %>
    <h2> <%= @review_link %> </h2>
  <% end %>  
</div>
