<div style="width: 50%">
  <h1 style="padding: 20px">Hola <%= @user_name %> nos gustaria que no dejaras tus comentarios de la cita con: <%= @professional_name %></h1>
  <h2>Por favor inicia sesion en el siguiente enlace para que puedas dejar tu comentario</h2>
  <%if @review_link %>
    <h2> <%= @review_link %> </h2>
  <% end %>  
</div>
