<div style="width: 50%">
  <h1 style="padding: 20px">Hola <%= @user_name %>, tu cita ha sido confirmada por <%= @professional_name %></h1>
  <%if !@meeting_link %>
    No olvides que tu cita fue agendada en consultorio, favor de presentarte 5 minutos antes de la hora de tu cita
  <% end %>
  <%if @meeting_link %>
    <h2>Para unirte a la reunion da click en el siguiente enlace el dia de tu cita</h2>
    <h2> <%= @meeting_link %> </h2>
  <% end %>  
</div>
