<div style="width: 90%; text-align: center; background-color: #ecc4cc">
  <%= image_tag('logo.png', alt: 'Logo de mi empresa', style: "width: 150px; padding: 20px") %>
</div>
<div style="width: 90%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <h1 style="padding: 20px">Hola <%= @user_name %>, tu cita ha sido confirmada por <%= @professional_name %></h1>
  <h2>Para unirte a la reunion da click en el siguiente enlace el dia de tu cita</h2>
  <%if @meeting_link %>
    <h2> <%= @meeting_link %> </h2>
  <% end %>  
</div>
