<div style="width: 70%; margin: 20px auto 0 auto">
  <h1 style="padding: 20px">Hola <%= @user_name %>, lamentamos informarte que tu cita ha sido declinada por nuestro nutriólogo <%= @professional_name %></h1>
  <h2 style="margin-bottom: 20px; font-size: 1.5rem">Te invitamos a agendar una cita con cualquier otro de nuestros profesinales.</h2>
</div>

