<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/assets/bannerfruits.jpg);">
  <div class="container">
    <h1>¡Nutrialic te ayuda a tener una vida sana más fácil!</h1>
    <p>Si quieres mejorar tu alimentación, únete como Usuario</p>
    <p> Si eres nutriólogo y quieres transformar la vida de otros, únete como Profesional </p>
    <a class="btn btn-flat" href="">Registrate </a>
  </div>
</div>
