<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.fundacioncaser.org/sites/default/files/noticias/f_caser_actualidad_recomendaciones_nutricionales.jpg);">
  <div class="container">
    <h1>¡Nutrialic hace que la Nutrición sea accesible para todos</h1>
    <p>Si quieres mejorar tu alimentación, registrate como Usuario</p>
    <p> Si eres nutriólogo, únete como Profesional! </p>
    <a class="btn btn-flat" href="">Registrate </a>
  </div>
</div>
