.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.userGeneralInfo h1 {
  font-size: 1.9rem;
  color: #3f3844;
  margin: 30px;
  text-align: center;
}

.avatar-bordered img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.main-row {
  position: relative;
  top: -100px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.col {
  background-color: white;
  padding: 0;
}

#colLeftProfile {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#colRightProfile {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Establecer altura del contenedor principal */
}

@media only screen and(max-width: 768px) {
  #colLeftProfile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
  }

  #colRightProfile {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: auto;
  }

  .main-row {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.especialidad {
  margin: 30px;
  text-align: center;
}

.especialidad h2 {
  color: #5c7d68;
  margin: 30px;
  text-align: center;
  font-size: 1.4rem;
}

.info {
  margin: 30px;
}

.info p {
  color: #3f3844;
  line-height: 11px;
}

.container .mapa-perfil {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorDerecho {
  flex-grow: 1; /* Permite que el contenedorDerecho crezca según el espacio disponible */
  overflow-y: auto;
  padding: 50px 30px 50px 30px;
}

#mapaPerfil {
  position: relative;
  width: 490px;
  height: 400px;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.buttonContainer button {
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
  background-color: #ee7784;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s ease;
}

.buttonContainer button:hover {
  padding: 8px 34px;
}

.info-prices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-prices .row {
  width: 60%;
}

.info-prices .col-6 {
  padding-left: 15px;
  padding-right: 15px;
  color: #3f3844;
}

.info-prices p {
  margin-bottom: 0;
}

.info-prices .price {
  font-size: 2rem;
  color: rgb(230, 84, 133);
}

@media only screen and(max-width: 768px) {
  .contenedorDerecho {
    width: 100%;
    height: auto;
    padding: 0px 30px 50px 30px;
  }

  #mapaPerfil {
    position: relative;
    width: 200px;
    height: 400px;
  }
}

@media only screen and(max-width: 438px) {
  .info-prices .row {
    width: 80%;
  }
}

.tabs-container {
  width: 90%;
  margin: 0 auto;
}

div.unHeader {
  background-color: rgb(234, 149, 168);
  color: white;
  border-radius: 5px;
  padding: 10px 0;
}

div.unHeader .tabs {
  display: flex;
  overflow-y: auto;
  height: 50px;
  align-items: center;
}

div.unHeader .tabs a {
  display: block;
  padding: 10px 40px;
  font-size: 0.9rem;
  outline: none;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

div.unHeader a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tabs a.active {
  background-color: rgb(241, 209, 216);
  border-radius: 5px;
  color: rgb(236, 103, 132) !important;
}

div.unHeader a:visited {
  color: white; /* o el color deseado para los enlaces visitados */
  text-decoration: none; /* opcional: para quitar subrayado u otras decoraciones de texto */
}

//remove horizontal scroll bar
.tabs::-webkit-scrollbar {
  height: 0;
}

//tabcontents
.tabcontent {
  padding: 40px 0;
  display: none;
  animation: fadeEffect 1s;
}

.tabcontent:first-of-type {
  display: block;
}

.tabcontent h3,
.tabcontent p {
  font-size: 21px;
  margin: 10px 0;
}

//animations for tab
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contenedor-galeria {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery .contenedor-img {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
