.banner {
  background-color: #ecc4cc;
  display: flex;
  align-items: center;
  padding: 185px 0;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 950px) {
  .banner {
    padding: 80px 0;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

.bannerTitle {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #3f3844;
}

.banner h2 {
  margin: 0;
  color: #3f3844;
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 1.5rem;
  color: #3f3844;
  opacity: 0.8;
}

@media (max-width: 750px) {
  .bannerTitle {
    font-size: 2rem !important;
    margin-bottom: 30px;
    color: #3f3844;
  }

  .banner p {
    font-size: 1.1rem;
    color: #3f3844;
    opacity: 0.8;
  }
}
