.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  font-size: 1.2rem;
  background: #ee7784;
  transition: all 0.3s ease;
  position: relative;
  top: 30px;
  margin-bottom: 50px;
}

.btn-flat:hover {
  top: 25px;
  background: #ee7784;
  color: white;
}

.btn-flat a {
  color: white;
  text-decoration: none;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#d45f5f, #c40f0f);
  transition: background 0.3s ease;
  border: 1px solid #c40f0f;
}

.btn-back:hover {
  background: linear-gradient(#d19e9e, #ff0000);
  color: white;
}

.btn-back a {
  color: black;
  text-decoration: solid;
}

.btn-back a:hover {
  color: white;
}

#botonHome {
  position: relative;
  top: 0px;
  transition: all 0.3s ease;
}

#botonHome:hover {
  padding: 10px 35px 10px 35px;
}

#confirmAppointmentBtn {
  background-color: #03c04a;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#confirmAppointmentBtn:hover {
  background-color: #006e2a;
}

#deleteAppointmentBtn {
  background-color: #f42941;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#deleteAppointmentBtn:hover {
  background-color: #b12334;
}

#aceptarEliminacionCita {
  background-color: rgb(17, 159, 17);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 6px 13px 6px 13px;
}

#cancelarEliminacionCita {
  background-color: red;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 6px 13px 6px 13px;
}

#confirmarAceptacionCita {
  background-color: rgb(17, 159, 17);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 6px 13px 6px 13px;
}

#cancelarAceptacionCita {
  background-color: red;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 6px 13px 6px 13px;
}
