

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #dc61c7 ;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #2e7d32;
  color: white;
}

.btn-flat a {
  color: white;
  text-decoration: none;
  }

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#d45f5f, #c40f0f);
  transition: background 0.3s ease;
  border: 1px solid #c40f0f;
}

.btn-back:hover {
  background: linear-gradient(#d19e9e, #ff0000);
  color: white;
}

.btn-back a{
  color: black;
  text-decoration: solid;
}

.btn-back a:hover{
  color: white;
}
