.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #745557c1;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-product {
  overflow: hidden;
  height: auto;
  background: white;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card-product-pendiente {
  background-color: rgba(255, 0, 0, 0.167);
}

.card-product-aprobado {
  background-color: rgba(0, 255, 30, 0.167);
}

.imgCardContainer {
  width: 40%;
  margin: 20px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCardContainer img {
  width: 150px !important;
  height: 150px !important;
  border-radius: 5px;
}

.rowCitas {
  margin-bottom: 50px;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.citasSubTitle {
  font-size: 1.4rem;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #3f3844;
}

.card-product h2 {
  font-size: 20px;
  color: #3f3844;
  margin: 0;
  padding: 16px 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #3f3844;
  margin-top: 5px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 60%;
}

@media only screen and(max-width: 468px) {
  .card-product .card-product-infos {
    width: 100%;
    text-align: center;
  }

  .imgCardContainer {
    display: none;
  }

  .imgCardContainer img {
    display: none;
  }
}

.card-category-1 {
  background-size: cover;
  background-position: left;
  height: 200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #745557c1;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card-profile {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  margin: 24px;
}
