#firstSection {
  height: 100vh;
  position: relative;
  top: -65px;
  overflow: hidden;
}

#nutricionPng {
  position: absolute;
  width: 150px;
  top: 95px;
  left: 80px;
  transform: rotate(5deg);
}

#dietaPng {
  position: absolute;
  bottom: 95px;
  width: 150px;
  right: 80px;
  transform: rotate(5deg) scaleX(-1);
}

#manzanitaPng {
  position: absolute;
  top: 95px;
  right: 80px;
  width: 150px;
  transform: rotate(-10deg);
}

#verduraPng {
  position: absolute;
  bottom: 95px;
  left: 80px;
  width: 150px;
  transform: rotate(10deg);
}

@media only screen and(max-width: 950px) {
  #nutricionPng {
    position: absolute;
    width: 130px;
    top: 95px;
    left: 40px;
    transform: rotate(5deg);
  }

  #dietaPng {
    position: absolute;
    bottom: 95px;
    width: 130px;
    right: 40px;
    transform: rotate(5deg) scaleX(-1);
  }

  #manzanitaPng {
    position: absolute;
    top: 95px;
    right: -10px;
    width: 130px;
    transform: rotate(-10deg);
  }

  #verduraPng {
    position: absolute;
    bottom: 95px;
    left: 40px;
    width: 130px;
    transform: rotate(10deg);
  }
}

.titleContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and(max-width: 750px) {
  #nutricionPng {
    position: absolute;
    width: 100px;
    top: 95px;
    left: -40px;
    transform: rotate(20deg);
  }

  #dietaPng {
    position: absolute;
    bottom: 55px;
    width: 100px;
    right: -30px;
    transform: rotate(-10deg) scaleX(-1);
  }

  #manzanitaPng {
    position: absolute;
    top: 95px;
    right: -20px;
    width: 90px;
    transform: rotate(-10deg);
  }

  #verduraPng {
    position: absolute;
    bottom: 55px;
    left: -25px;
    width: 105px;
    transform: rotate(75deg);
  }

  .titleContainer {
    width: 75%;
  }
}

//second section

#secondSection {
  height: 80vh;
  position: relative;
  top: -65px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#secondSectionContent {
  display: flex;
  align-items: center;
  height: 50vh;
}

#contentSecondFirstCol h1 {
  font-size: 2.3rem;
  color: #3f3844;
  margin-bottom: 10px;
}

#contentSecondFirstCol p {
  color: #3f3844;
  font-size: 1.1rem;
}

#contentSecondFirstCol {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#svgSecondSection {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#mimiImg {
  width: 90%;
  border-radius: 20px;
}

@media only screen and(max-width: 765px) {
  #contentSecondFirstCol h1 {
    font-size: 2rem;
    color: #3f3844;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  #mimiImg {
    width: 80%;
    border-radius: 20px;
    margin-top: 10px;
  }

  #contentSecondFirstCol p {
    color: #3f3844;
    font-size: 1.1rem;
  }
}

@media only screen and(max-width: 590px) {
  #mimiImg {
    width: 70%;
    border-radius: 20px;
    margin-top: 10px;
  }
  #contentSecondFirstCol h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #3f3844;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  #contentSecondFirstCol p {
    color: #3f3844;
    text-align: center;
    font-size: 1rem;
  }
}

//third section
#thirdSection {
  height: auto;
  position: relative;
  top: -65px;
}
