.mapa{
  width: 700px;
  margin-left: 70px;
  height: 100vh;
  position: sticky !important;
  border-radius: 10px;
  border: 20px;
  border-color: black;
  top: 0;
}

.container .map {
  margin-top: 30px;
}
