.navbar-lewagon {
  justify-content: space-between;
  background: $rose-flash;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
