.navbar-lewagon {
  justify-content: space-between;
  background-color: #ecc4cc;
  font-weight: bold;
  opacity: 1 !important;
  z-index: 100;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-link {
  font-size: 1rem;
  color: #3f3844;
  letter-spacing: 1.3px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

@media only screen and(max-width: 1079px) {
  .nav-link {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.nav-link:hover {
  background-color: #ee7784;
  color: #fff;
}
