<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado un link para cambiar tu contraseña. Puedes hacerlo mediante el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>Tu contraseña no cambiara a menos que ingreses al enlace y lo hagas manualmente.</p>
