<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style="width: 100%; text-align: center; background-color: #ecc4cc; border-radius: 10px;
    padding: 10px;
    margin: 0 auto 0 auto;">
      <h1 style="margin: 0px; font-size: 2rem">Nutrialic</h1>
    </div>
    <div style="width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #3f3844;">
      <%= yield %>
    </div>
  </body>
</html>
